<div class="container" style="padding-top: 50px;">
  <div class="button-row">
    <div class="button-column">
      <button (click)="Event()" type="button" class="btn btn-primary">
        Add Event
      </button>
      <button (click)="Session()" type="button" class="btn btn-primary">
        Add Session
      </button>
    </div>
    <div class="button-column">
      <button (click)="Speaker()" type="button" class="btn btn-primary">
        Add Speaker
      </button>
      <button (click)="list()" type="button" class="btn btn-primary">
        List
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-danger" (click)="onBack()">Back</button>
  </div>
</div>
